# Python bytecode files
__pycache__/

# Package virtual environments
/.venv/

# Ruff cache
/.ruff_cache/

# Distribution folder
/dist/

# All files in migrations except __init__.py
/src/mock/home/migrations/*
!/src/mock/home/migrations/__init__.py

# Temporary files
/.tmp/
